<div class="berserker-overload-fx" [ngClass]="{ 'team-right': isTeamRight }">
  <div class="energy-vortex"></div>
  <div class="levitating-debris">
    <span class="stone st1"></span>
    <span class="stone st2"></span>
    <span class="stone st3"></span>
  </div>
  <div class="berserker-aura-mist"></div>
  <div class="afterimage-shadows">
    <img [src]="characterAvatar" class="afterimage img1" />
    <img [src]="characterAvatar" class="afterimage img2" />
  </div>
  <div class="ultimate-lightning-storm"></div>
  <div class="massive-slash-wave"></div>
</div>
